@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Nanum+Brush+Script&display=swap');


#all {
    width: 1200px;
    background: ;
}

#all:after {
    content: "";
    display: block;
    clear: both
}

#l_box {
    float: left;
    width: 200px;
    height: 2350px;
    background-color: ;
}

.l_box_in {
    width: 200px;
    height: 470px;
    background-color: #fff;
    text-align: center;
    margin-top: 5px;
    z-index: 55;
    position: ;
}

.l_box_in h1 {
    display: block;
    background-color: #0662c9;
    width: 180px;
    height: 90px;
    line-height: 90px;
    color: #fff;
    font-size: 2.5rem
}

.l_box_in li {
    width: 180px;
    height: 60px;
    border-bottom: 1px solid #0662c9;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 60px;
}

.l_box_in li:hover {
    background: rgba(27, 66, 154, 0.4);
    font-weight: bold;
    cursor: pointer
}

.l_box_in li:hover a {
    color: #fff
}


#sub_top {
    width: 100%;
    height: 218px;
    background-image: url(../images/subTop1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
}

#sub_top p {
    text-align: center;
    color: #fff;
    font-size: 3.5rem;
    padding-top: 5%;
    font-family: 'Nanum Brush Script', cursive;
}

#r_box {
    float: left;
    width: 1000px;
    height: 3100px;
    background: ;
}


#submain_img {
    text-align: center;
    position: relative;
    width: 1000px;
    height: 600px;
}

.main4 {
    width: 100%;
    margin-top: -4.2%
}

.line_box:after {
    content: "";
    display: block;
    clear: both
}

.line_box {
    width: 1000px;
    margin-top: 60px;
}

.line_box .green {
    float: left;
    width: 23%
}

.line_box .yell {
    float: right;
    width: 77%
}

.text_box:after {
    content: "";
    display: block;
    clear: both
}

.text_box {
    width: 1000px;
    margin-top: 0.5%;
}

.text_box .left4_box {
    float: left;
    width: 40.8%
}

.text_box .right4_box {
    float: right;
    width: 59.19%
}



/*여기까진 통일  아래는 개별*/

#content {
    width: 1000px;
}


.con1 {
    width: 100%;
    height: 600px;
    background: ;
}

.con1:after {
    content: "";
    display: block;
    clear: both
}

.img1 {
    float: left;
    width: 55%
}

.con1_text {
    float: right;
    width: 45%;
}

.con1_text span {
    display: block;
    padding-top: 25%;
    font-size: 8rem;
    color: #0662c9;
    font-family: 'Gamja Flower', cursive;
}

.con1_text p {
    font-size: 1.5rem;
    line-height: 3rem;
    padding-top: 15%;
}



.con2 {
    width: 100%;
    height: 600px;
    background: ;
}

.con2:after {
    content: "";
    display: block;
    clear: both
}

.con2_text {
    float: left;
    width: 44%;
    margin-left: 2%
}

.img2 {
    float: right;
    width: 52.5%;
    height: 500px;
}

.con2_text span {
    display: block;
    padding-top: 25%;
    font-size: 8rem;
    color: #0662c9;
    font-family: 'Gamja Flower', cursive;
}

.con2_text p {
    font-size: 1.5rem;
    line-height: 3rem;
    padding-top: 15%;
}


.con3 {
    width: 100%;
    height: 600px;
    background: ;
}

.con3:after {
    content: "";
    display: block;
    clear: both
}

.img3 {
    float: left;
    width: 55%
}

.con3_text {
    float: right;
    width: 45%;
}

.con3_text span {
    display: block;
    padding-top: 25%;
    font-size: 8rem;
    color: #0662c9;
    font-family: 'Gamja Flower', cursive;
}

.con3_text p {
    font-size: 1.5rem;
    line-height: 3rem;
    padding-top: 15%;
}



.con4 {
    width: 100%;
    height: 600px;
    background: ;
}

.con4:after {
    content: "";
    display: block;
    clear: both
}

.con4_text {
    float: left;
    width: 44%;
    margin-left: 2%
}

.img4 {
    float: right;
    width: 52.5%;
    height: 500px;
}

.con4_text span {
    display: block;
    padding-top: 10%;
    font-size: 8rem;
    color: #0662c9;
    font-family:'Gamja Flower', cursive;
}

.con4_text p {
    font-size: 1.5rem;
    line-height: 3rem;
    padding-top: 10%;
    padding-bottom: 10%
}

.con4_text dt {
    display: block;
    width: 80%;
    padding: 8px;
    font-size: 1.5rem;
    background: #0662c9;
    color: #fff;
    margin-bottom: 0.5%;
}

.con4_text dd {
    width: 80%;
    font-size: 1.4rem;
    line-height: 2.6rem;
}

.con4_text dd img {
    width: 100%;
}




@media (max-width:1199px) {

    

    #l_box {
        display: none
    }

    #r_box {
        width: 100%;
        height: auto
    }

    #all {
        width: 100%
    }

    #submain_img {
        width: 80%;
        height: auto;
        padding-top: calc(10/1122*100%);
        text-align: center
    }


    #sub_top {
        height: 0;
        padding-top: calc(200/1122*100%);
        position: relative;
    }

    #sub_top p {
        font-size: 3rem;
        padding-top: 0;
        position: absolute;
        top: 50px;
        left: 5%;
        right: 5%;
        margin: 0 auto
    }




    .line_box {
        width: 100%
    }

    .text_box {
        width: 100%;
        margin-bottom: 10%
    }

    .text_box .left4_box {
        width: 40.8%
    }

    .text_box .right4_box {
        width: 59.2%
    }

    #content {
        width: 100%;
        height: auto;
    }

    .con1 {
        height: auto;
    }

    .img1 {
        float: none;
        text-align: center
    }

    .img1 img {
        width: 95%;
        height: auto
    }

    .con1_text {
        float: none;
        text-align: center;
        width: 55%
    }

    .con1_text span {
        font-size: 5rem;
        padding-top: 8%
    }

    .con1_text p {
        font-size: 1.8rem;
        padding-top: 8%;
        padding-bottom: 25%
    }


    .con2 {
        height: auto;
    }

    .con2_text {
        float: none;
        text-align: center;
        margin-right: 2%;
        margin: 0 auto;
        width: 55%
    }

    .con2_text span {
        font-size: 5rem;
        padding-top: 8%
    }

    .con2_text p {
        font-size: 1.8rem;
        padding-top: 8%;
        padding-bottom: 25%
    }

    .img2 {
        float: none;
        height: auto;
        padding-bottom: ;
    }

    .img2 img {
        width: 100%;
        height: auto
    }




    .con3 {
        height: auto
    }

    .img3 {
        float: none;
        text-align: center
    }

    .img3 img {
        width: 95%;
        height: auto
    }

    .con3_text {
        float: none;
        text-align: center;
        width: 55%
    }

    .con3_text span {
        font-size: 5rem;
        padding-top: 8%
    }

    .con3_text p {
        font-size: 1.8rem;
        padding-top: 8%;
        padding-bottom: 25%
    }




    .con4 {
        height: auto;
    }

    .con4_text {
        float: none;
        text-align: center;
        margin-right: 2%;
        margin: 0 auto;
        width: 55%
    }

    .con4_text span {
        font-size: 5rem;
        padding-top: 8%
    }

    .con4_text p {
        font-size: 1.8rem;
        padding-top: 8%;
        padding-bottom: 8%
    }

    .img4 {
        float: none;
        height: auto;
        padding-bottom: ;
    }

    .img4 img {
        width: 100%;
        height: auto
    }


    .mo_submenu li {
        width: 110px;
    }

    .mo_submenu a {
        font-size: 1rem;
    }

}





@media (max-width:768px) {

    .logo img {
        width: 200px;
        margin-top: 10px;
    }

   
     #sub_top {
        width: 100%;
        height: 0;
        padding-top: calc(200/1122*100%);
        position: relative;
    }

    #sub_top p {
        font-size: 1.5rem;
        padding-top: 0;
        position: absolute;
        top: 30%;
        left: 5%;
        right: 5%;
        margin: 0 auto
    }


    .con1_text span {
        font-size: 3.5em;
        padding-top: 8%
    }

    .con1_text p {
        font-size: 1rem;
        padding-top: 8%;
        padding-bottom: 25%;
        line-height: 2rem
    }

    .con2_text span {
        font-size: 3.5em;
        padding-top: 8%
    }

    .con2_text p {
        font-size: 1rem;
        padding-top: 8%;
        padding-bottom: 25%;
        line-height: 2rem
    }

    .con3_text span {
        font-size: 3.5em;
        padding-top: 8%
    }

    .con3_text p {
        font-size: 1rem;
        padding-top: 8%;
        padding-bottom: 25%;
        line-height: 2rem
    }

    .con4_text span {
        font-size: 3.5em;
        padding-top: 8%
    }

    .con4_text p {
        font-size: 1rem;
        padding-top: 8%;
        padding-bottom: 10%;
        line-height: 2rem
    }

    .con4_text dt {
        font-size: 1rem;
    }





}
